# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android
android/app/build/
android/.gradle/
android/local.properties
android/gradle/wrapper/gradle-wrapper.jar
android/app/src/main/assets/public/

